# Fichier d'exemple - À NE PAS MODIFIER AVEC VOS VRAIS MOTS DE PASSE
# Copiez ce fichier et renommez-le en ".env"

DEBUG=True
SECRET_KEY=cle_django_insecure_pour_le_dev

# Configuration Base de données (PostgreSQL)
POSTGRES_DB=timely_db
POSTGRES_USER=timely_user
POSTGRES_PASSWORD=timely_dev_password
DB_HOST=db
DB_PORT=5432

# Stripe

STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_

# URL de l'application en production (ex: https://timely.stellarbit.cc)
PUBLIC_URL=https://timely.stellarbit.cc
