# Environnement virtuel
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Dossiers statiques et médias
/static/
/media/

# Tailwind CSS node_modules et fichiers compilés
theme/static/css/dist/
theme/static_src/node_modules/

DEPLOYMENT.md